
* {
    color:#111;
}

a {
    text-decoration: none;
}

a:hover {
    color: #666;
}

html {
    overflow-y: scroll;
}

/* header */
header {
    width: 100%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
    background-color: lightblue;
}

header li {
    list-style: none;
}

@media screen and (min-width: 600px){
    header {
        display: flex;
        position: relative;
    }

    header ul {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    header ul li {
        margin-right: 1rem;
    }
}

/* index */
main {
    margin: 0 auto;
}

#accordion-menu {
    display: none;
    background-color: darkgrey;
}

#nav-toggle {
    outline: 0;
    margin: 0.5rem;
}

@media screen and (min-width: 800px) {
    #menu-main {
        display: flex;
    }
    #accordion-menu {
        display: block;
        position: relative;
        width: 200px;
    }
    #nav-toggle {
        display: none;
    }
}

.menu-item {
    padding-left: 1rem;
}

.submenu {
    padding-left: 1rem;
    display: none;
}

.menu-item-link:after {
    font-family: "Font Awesome 5 Free";
    content: '\f106';
    font-weight: 900;
}

.menu-item-link.menu-open:after {
    content: '\f107';
}

#accordion-menu li {
    list-style: none;
}

#accordion-menu a {
    text-decoration: none;
}

#index-article {
    margin: 0 auto;
    width: 80%;
}

#index-article p{
    word-wrap: break-word;
}