#search {
    text-align: center;
    margin: 20px auto;
}

input {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 0.1rem 0.5rem;
}

#query {
    width: 80%;
    max-width: 20rem;
}

#search-button {
    color:#222;
    border: 1px solid #aaa;
    background-color: #eee;
    padding: 0.25rem 1rem;
}

#videoList {
}

.video-wrapper {
    margin: auto;
}

.video {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    margin: 0 20px 20px;
}

.video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 600px) {
    #videoList {
        display:flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .video-wrapper {
        flex-basis: 560px;
        margin:0;
    }

    .video {
        margin-left: 10px;
        margin-right: 10px;
    }
} 